__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
.venv/
venv/
*.egg
*.egg-info/
.coverage
.pytest_cache/
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
.vscode/
data/
logs/
models/
.env
Metadata/
*.out
slurm_output/
cancel_gauntlet.sh